{
	"presets": [
		"next/babel"
	],
	"plugins": [
		[
			"styled-components",
			{
				"ssr": true
			}
		],
		[
			"module-resolver",
			{
				"root": [
					"."
				],
				"extensions": [
					".ts",
					".tsx",
					".jsx",
					".js",
					".json"
				],
				"alias": {
					"@Components": [
						"./components"
					],
					"@Pages": [
						"./pages"
					],
					"@Hooks": [
						"./hooks"
					],
					"@Shared": [
						"./shared"
					],
					"@Styles": [
						"./styles"
					],
					"@Utils": [
						"./utils"
					],
					"@Schema": [
						"./schema"
					]
				}
			}
		]
	]
}